# Dependencies
node_modules
.pnpm-store

# Build outputs
dist
dist-ssr
build
*.tsbuildinfo

# Logs
logs
*.log

# Env files
.env
.env.*
!.env.example

# Editor
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store

# OS
Thumbs.db

.opencode/agent
.opencode/sessions
.opencode/skills